.about-page {
  .big-video-wrap {
    background-image: url("../images/about-header-bg.png");
    background-size: cover;
  }


}

.big-video-wrap-2 {
  background-image: url("../images/about/about-bg.jpg");
  background-size: cover;
  height: 720px;
}