footer {
  border-top: 1px solid #CCCCCC;
  padding-top: 50px;

  h4 {
    color: #777777;
  }

  hr {
    border-color: #ccc;
  }

  p{
    font-weight: 300;
    a{
      color: #646464;

      &:hover{
        color: #323a45;
      }
    }
  }
}