header {
  color: #fff;
  font-family: $font-family-brandon-grotesque;
  margin-bottom: 100px;

  .fa-play-circle {
    color: #fff;
  }

  @media screen and (max-width: $screen-xs-max) {
    padding-top: 52px;
  }
}

.big-video-wrap {
  height: 700px;
  overflow: hidden;
  position: relative;
  background-color: transparentize(#000, .5);
  //background-image: url("../images/snow-mountains-forest-winter.png");
  //background-size: cover;

  .video-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2; //To show content
    overflow: hidden;

    .vjs-tech {
      width: auto !important;
      height: auto !important;
      position: relative !important;
    }

    @media screen and (min-width: $screen-xs-max) {
      width: 100% !important;
    }

  }

  @media screen and (max-width: $screen-xs-max) {
    height: 100vh;
    min-height: 450px;
    //
    ////Replace with a placeholder image, because videos dont start on mobile devices automatically.
    background-image: url("http://placehold.it/500x800");
    background-size: cover;

  }
}

.navbar {
  margin-top: 15px;
}

.header-text-block {
  h2 {
    font-size: 5em;
    margin-top: 100px;
  }
  h3 {
    font-size: 2em;
    font-weight: 300;
    margin-bottom: 50px;
  }

  @media screen and (max-width: $screen-xs-max) {
    h2 {
      font-size: 4em;
    }
    h3 {
      font-size: 1.5em;
      padding: 0 15px;
    }
  }

  @media screen and (max-height: 600px) {
    h2 {
      margin-top: 15px;
    }
  }
}

.header-btn {
  font-size: 1.5em;
  padding: 10px 50px;
  margin-bottom: 50px;

  @media screen and (max-height: 600px) {
    margin-bottom: 30px;
  }
}

.header-fullscreen-video {
  visibility: hidden;
  opacity: 0;
  transition: .3s all ease;
  z-index: -1;
  display: none;

  &.header-fullscreen-video-open {
    visibility: visible;
    opacity: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: block;
  }
}

.mobile-nav-container {
  position: fixed;
  top: 0;
  height: 52px;
  -webkit-transition: border-color 200ms ease-in-out,-webkit-transform 0.3s cubic-bezier(0.35, -0.25, 0.35, 0);
  transition: border-color 200ms ease-in-out,transform 0.3s cubic-bezier(0.35, -0.25, 0.35, 0);
  background-color: #fff;
  border-bottom: solid 1px transparent;
  width: 100%;
  z-index: 99;
  border-bottom-color: #e9f0f3;
}

.mobile-nav {
  position: fixed;
  top: 0;
  right: 0;
  box-shadow: 50px 0 0 #384047;
  background-color: #384047;
  width: 240px;
  height: 100vh;
  transition: .3s all ease;
  transform: translateX(0);
  visibility: hidden;
  

  a {
    transition: all 200ms ease-in-out;
    color: #788188;
    display: block;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 0 10px 8px;
    margin-left: 7px;

    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
  
  &.mobile-nav-visible {
    visibility: visible;
  }
}

#main-content {
  -webkit-transition: top 0.3s ease, bottom 0.3s ease, background-color 0.3s ease, -webkit-transform 0.3s 0.2s ease;
  transition: top 0.3s ease, bottom 0.3s ease, background-color 0.3s ease, transform 0.3s 0.2s ease;
}

.mobile-nav-open {
  transform: translateX(-240px);

  .mobile-nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
  }

  #mobile-nav-toggle {
    .hamburger {
      background-color: transparent !important;
      box-shadow: none !important;
      -webkit-transition: top 0.3s ease, bottom 0.3s ease, background-color 0.3s ease, -webkit-transform 0.3s 0.2s ease;
      transition: top 0.3s ease, bottom 0.3s ease, background-color 0.3s ease, transform 0.3s 0.2s ease;
      &:before {
        top: 0;
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition: top 0.3s ease, bottom 0.3s ease, background-color 0.3s ease, -webkit-transform 0.3s 0.2s ease;
        transition: top 0.3s ease, bottom 0.3s ease, background-color 0.3s ease, transform 0.3s 0.2s ease;
      }
      &:after {
        bottom: 0;
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transition: top 0.3s ease, bottom 0.3s ease, background-color 0.3s ease, -webkit-transform 0.3s 0.2s ease;
        transition: top 0.3s ease, bottom 0.3s ease, background-color 0.3s ease, transform 0.3s 0.2s ease;
      }
    }
  }
}

#mobile-nav-toggle {
  width: 25px;
  height: 20px;
  float: right;
  margin: 25px 15px 0 0;

  .hamburger {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      bottom: -7px;
    }
    &:before {
      content: '';
      position: absolute;
      top: -7px;
    }
  }
}

#mobile-nav-toggle .hamburger, #mobile-nav-toggle .hamburger:before, #mobile-nav-toggle .hamburger:after {
  background-color: #8d9aa5;
  width: 25px;
  height: 3px;
  display: block;
  border-radius: 6px;
  -webkit-transition: top 0.3s 0.2s ease, bottom 0.3s 0.2s ease, background-color 0.3s ease, -webkit-transform 0.3s ease;
  transition: top 0.3s 0.2s ease, bottom 0.3s 0.2s ease, background-color 0.3s ease, transform 0.3s ease;
}