header {
  color: #fff;
  font-family: $font-family-brandon-grotesque;

  .fa-play-circle {
    color: #fff;
  }

  @media screen and (max-width: $screen-xs-max) {
    padding-top: 52px;
  }
}

.homepage {
  header {
    @media screen and (min-width: $screen-sm-min) {
      margin-bottom: -100px;
    }
  }
}

.big-video-wrap {
  height: 720px;
  overflow: hidden;
  position: relative;
  background-color: transparentize(#000, .5);
  //background-image: url("../images/snow-mountains-forest-winter.png");
  //background-size: cover;

  .video-js {
    position: absolute;
    width: 100%;
    height: 100%;
    //z-index: -2; //To show content
    overflow: hidden;

    .vjs-tech {
      width: auto !important;
      height: auto !important;
      position: relative !important;
    }

    @media screen and (min-width: $screen-xs-max) {
      width: 100% !important;
    }

  }

  @media screen and (max-width: $screen-xs-max) {
    height: 100vh;
    min-height: 450px;
    //
    ////Replace with a placeholder image, because videos dont start on mobile devices automatically.
    background-image: url("http://placehold.it/500x800");
    background-size: cover;

  }
}

.navbar {
  margin-top: 15px;
  padding: 0 15px;

  &.navbar-scroll-desktop {
    background-color: #fff;
    margin-top: 0;
    padding: 15px;
    border-bottom: 1px solid #e4e4e4;

    .navbar-nav > li > a {
      color: #8a959e;

      &:hover {
        color: #ff3366;
      }
    }
  }
}

.header-text-block {
  h2 {
    font-size: 5em;
    margin-top: 160px;
  }
  h3 {
    font-size: 2em;
    font-weight: 300;
    margin-bottom: 50px;
  }

  @media screen and (max-width: $screen-xs-max) {
    h2 {
      font-size: 4em;
    }
    h3 {
      font-size: 1.5em;
      padding: 0 15px;
    }
  }

  @media screen and (max-height: 600px) {
    h2 {
      margin-top: 15px;
    }
  }
}

.header-btn {
  font-size: 1.5em;
  padding: 10px 50px;
  margin-bottom: 50px;

  @media screen and (max-height: 600px) {
    margin-bottom: 30px;
  }
}

.header-fullscreen-video {
  visibility: hidden;
  opacity: 0;
  transition: .3s all ease;
  z-index: -1;
  display: none;

  &.header-fullscreen-video-open {
    visibility: visible;
    opacity: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 20;
    width: 100%;
    height: 100%;
    display: block;
  }
}

.mobile-nav-container {
  position: fixed;
  top: 0;
  height: 52px;
  background-color: #fff;
  border-bottom: solid 1px transparent;
  width: 100%;
  z-index: 2;
  border-bottom-color: #e9f0f3;
  text-align: center;
  -webkit-transition: top 0.3s ease, bottom 0.3s ease, background-color 0.3s ease, -webkit-transform 0.3s 0.2s ease;
  transition: top 0.3s ease, bottom 0.3s ease, background-color 0.3s ease, transform 0.3s 0.2s ease;
  .mobile-call {
    margin-top: 10px;
    visibility: hidden;
    opacity: 0;
    transition: .3s all ease;

    &.visible {
      visibility: visible;
      opacity: 1;
    }
  }

  //&.mobile-nav-open {
  //  transform: translateX(-240px);
  //}
}

.mobile-nav {
  position: fixed;
  top: 0;
  right: 0;
  box-shadow: 50px 0 0 #384047;
  background-color: #384047;
  width: 240px;
  height: 100vh;
  transition: .3s all ease;
  transform: translateX(0);
  visibility: hidden;

  a {
    transition: all 200ms ease-in-out;
    color: #788188;
    display: block;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 0 10px 8px;
    margin-left: 7px;

    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }

  &.mobile-nav-visible {
    visibility: visible;
  }
}

#main-content {
  position: relative;
  -webkit-transition: top 0.3s ease, bottom 0.3s ease, background-color 0.3s ease, -webkit-transform 0.3s 0.2s ease;
  transition: top 0.3s ease, bottom 0.3s ease, background-color 0.3s ease, transform 0.3s 0.2s ease;
//   background-color: #fff;
}

.mobile-nav-open {
  transform: translateX(-240px);

  .mobile-nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
  }

  #mobile-nav-toggle {
    .hamburger {
      background-color: transparent !important;
      box-shadow: none !important;
      -webkit-transition: top 0.3s ease, bottom 0.3s ease, background-color 0.3s ease, -webkit-transform 0.3s 0.2s ease;
      transition: top 0.3s ease, bottom 0.3s ease, background-color 0.3s ease, transform 0.3s 0.2s ease;
      &:before {
        top: 0;
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition: top 0.3s ease, bottom 0.3s ease, background-color 0.3s ease, -webkit-transform 0.3s 0.2s ease;
        transition: top 0.3s ease, bottom 0.3s ease, background-color 0.3s ease, transform 0.3s 0.2s ease;
      }
      &:after {
        bottom: 0;
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transition: top 0.3s ease, bottom 0.3s ease, background-color 0.3s ease, -webkit-transform 0.3s 0.2s ease;
        transition: top 0.3s ease, bottom 0.3s ease, background-color 0.3s ease, transform 0.3s 0.2s ease;
      }
    }
  }
}

#mobile-nav-toggle {
  width: 25px;
  height: 20px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 25px 15px 0 0;

  .hamburger {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      bottom: -7px;
    }
    &:before {
      content: '';
      position: absolute;
      top: -7px;
    }
  }
}

#mobile-nav-toggle .hamburger, #mobile-nav-toggle .hamburger:before, #mobile-nav-toggle .hamburger:after {
  background-color: #8d9aa5;
  width: 25px;
  height: 3px;
  display: block;
  border-radius: 6px;
  -webkit-transition: top 0.3s 0.2s ease, bottom 0.3s 0.2s ease, background-color 0.3s ease, -webkit-transform 0.3s ease;
  transition: top 0.3s 0.2s ease, bottom 0.3s 0.2s ease, background-color 0.3s ease, transform 0.3s ease;
}