.no-mg-t {
  margin-top: 0;
}

.btn-default-outlined {
  border-radius: 20px;
  @include button-variant(#fff, transparent, #fff);

  &:hover {
    background-color: #fff!important;
    color: #000!important;
  }

}

.section-header {
  color: $brand-gray;
  display: inline-block;

  &.section-header-underlined {
    position: relative;
    font-size: 2.5em;

    &:after {
      content: '';
      width: 100%;
      height: 1px;
      background-color: $brand-gray;
      position: absolute;
      bottom: -15px;
      left: 0;
    }

  }
}

.section-gray-bg {
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
  background-color: $section-gray-bg;
  padding: 20px 0 50px;
}

.section-subheader {
  margin-bottom: 50px;
  font-weight: normal;
}

.subheader-gray {
  color: #9A9A9A;
}