.no-mg-t {
  margin-top: 0;
}

.section-header {
  color: $brand-gray;
  display: inline-block;
  font-size: 3em;

  &.section-header-underlined {
    position: relative;

    &:after {
      content: '';
      width: 100%;
      height: 1px;
      background-color: $brand-gray;
      position: absolute;
      bottom: -15px;
      left: 0;
    }

  }
}

.section-gray-bg {
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
  background-color: $section-gray-bg;
  padding: 20px 0 50px;
}

.section-subheader {
  margin-bottom: 50px;
  font-weight: normal;
}

.subheader-gray {
  color: #9A9A9A;
}

.video-close {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 3;
  color: transparentize(#fff, .5);

  &:hover {
    color: #fff;
  }
}

//Buttons
.btn-default-outlined {
  border-radius: 20px;
  @include button-variant(#fff, transparent, #fff);

  &:hover {
    background-color: #fff !important;
    color: #000 !important;
  }

}

.btn-green {
  @include button-variant(#fff, #6DA92B, #6DA92B)
}

.btn-red {
  @include button-variant(#fff, #E52d27, #E52d27)
}

.btn-blue {
  @include button-variant(#fff, #55acee, #55acee)
}

.btn-orange {
  @include button-variant(#fff, #dd4b39, #dd4b39)
}

.btn-dark-blue {
  @include button-variant(#fff, #0976b4, #0976b4)
}