.text-section {
  padding: 50px 0;
  border-bottom: 1px solid $brand-gray;
  font-family: $font-family-open-sans;
  
  h4 {
    font: 300 35px/52px $font-family-open-sans;
  }

  p {
    line-height: 1.8em;
    color: #747c83;
  }

  &:last-of-type {
    border:none;
  }
}

.partner-icon {
  position: relative;
  height: 100px;
  margin: 50px 0;

  div {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

